.remote-data-demo{
  position: relative;
  .remote-data-demo-loading{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFFCC;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 1;
  }
  .delete-row-column-button {
    cursor: pointer;
    opacity: 0.75;
    display: inline-block;
    vertical-align: middle;
    &:hover{
      opacity: 1;
    }
  }
}