.material-demo{
  @import '../../../node_modules/materialize-css/sass/materialize.scss';
  @import '../../lib/static/icons.scss';
  td, th{
    padding-left: 20px;
    padding-right: 20px;
  }
  .ka-icon{
    font-weight: 100;
    font-size: 10px;
    font-family: 'icons';
  }
  .ka-icon-sort{
    margin-left: 3px;
    position: absolute;
  }
  .ka-pointer{
    cursor: pointer;
  }

  .table {
    margin-bottom: 0;
  }
  tr {
    line-height: 40px;
    min-height: 40px;
    height: 40px;
  }
  .ka-filter-row {
    .select-dropdown{
      width: 70px;
      margin-right: 5px;
    }
  }
  .ka-no-data-row{
    text-align: center;
  }
  .ka-table-wrapper {
    max-height: 700px;
  }
  .ka-paging{
    padding: 15px;
    li{
      & {
        color: #444;
        display: inline-block;
        font-size: 1.2rem;
        padding: 0 10px;
        line-height: 30px;
      }

      &.active { color: #fff; }

      &.active { background-color: $primary-color; }
    }
  }
  .ka-paging-page-index{
    cursor: pointer;
  }


}