.bootstrap-demo{
  // Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

  @import '../../../node_modules/bootstrap/scss/bootstrap';
  .table {
    margin-bottom: 0;
  }
  tr {
    line-height: 40px;
    min-height: 40px;
    height: 40px;
  }
  input:not([type="checkbox"]){
    @extend .form-control;
  }
  .ka-no-data-row{
    text-align: center;
  }
}