@import '../../node_modules/highlight.js/styles/vs.css';
@import '../../src/lib/style.scss';

.editor-links {
  text-align: right;
  font-size: 14px;
  color: #868A8F;

  .editor-link-ts {
    margin: 0 10px;
  }
  .editor-link-js{
    margin-left: 10px;
  }
}