
.demos{
  font-family:'icons', 'Helvetica Neue Light', 'Open Sans', Helvetica;
  display: flex;

  nav{
    width: 15%;
    padding: 20px;
  }

  main{
    width: 85%;
    padding: 20px;

    .tc{
      max-height: 600px;
    }
  }
}