@import '../../node_modules/highlight.js/styles/vs.css';

@import '../../src/lib/static/icons.scss';

.ka{
  box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.1);
}
.ka-icon{
  font-weight: 100;
  font-size: 10px;
  font-family: 'icons';
}
.ka-icon-group-arrow{
  padding: 10px 5px 10px 10px;
  margin-right: 5px;
  cursor: pointer;
}

.enable-ka-styles, .print-content{
  @import '../../src/lib/style.scss';
  .ka{
    border-radius: 12px;
  }
}

.editor-links {
  text-align: right;
  font-size: 14px;
  color: #868A8F;

  .editor-link-ts {
    margin: 0 10px;
  }
  .editor-link-js{
    margin-left: 10px;
  }
}

.top-element {
  margin-bottom: 20px;
}